<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="pagetitle">{{ folder }}
    </ion-title>
    <ion-button slot="end" *ngIf="userInfo" (click)="signOut()" style="float: right;">
      Sign Out
    </ion-button>
    <ion-button slot="end" *ngIf="!userInfo" (click)="redirect()" style="float: right;">
      Sign In
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="val=='Home'">
    <ion-card>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>PESTILENCE AND VIRUS PLAGUE: BILLIONS OF CLUELESS HUMANS</strong>
        </mat-panel-title>
        <mat-panel-description>
         
        </mat-panel-description>
      </mat-expansion-panel-header>
     <p>Today on TruNews we discuss the surreal end times headlines plaguing the cursed earth, and we share the only antidote to both tyranny and coronavirus, the enduring Gospel of Jesus Christ. Rick Wiles, Edward Szall, Doc Burkhart. Airdate: 02/14/20.</p>
    </mat-expansion-panel>
    </ion-card>
    <ion-card>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         <strong> CONTAMINATED LUGGAGE: EMPLOYEES INFECTED WITH CORONAVIRUS?</strong>
        </mat-panel-title>
        <mat-panel-description>
         
        </mat-panel-description>
      </mat-expansion-panel-header>
    <p>Today on TruNews, we share an exclusive interview with a senior employee of one of the world’s biggest airlines at one of America’s largest airports with daily flights from China, with a warning that luggage personnel are sick with Coronavirus-like symptoms and are not being tested, screened, or treated, potentially exposing millions to the deadly disease. Rick Wiles, Edward Szall, Doc Burkhart Airdate 02/13/20.</p>
    </mat-expansion-panel>
    </ion-card>
<ion-card>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>CHRISTIANITY VS. EVANGELICAL ZIONISM: STEVE AND JANA BEN-NUN</strong>
        </mat-panel-title>
        <mat-panel-description>
         
        </mat-panel-description>
      </mat-expansion-panel-header>
    <p>Today on TruNews, Rick Wiles interviews Steve and Jana Ben-Nun, the Hosts of Israeli News Live. They discuss the true Gospel of the Kingdom, the truth about Zionism and its role behind the transgender movement, and how it has become an STD, a spiritually transmitted doctrine, infecting the Body of Christ with a spiritual syphilis, and belief in a false, androgynous, Kabbalah, Gematria, AI-powered messiah. Rick Wiles, Steve, and Jana Ben-Nun. Airdate 02/12/20.</p>
    </mat-expansion-panel>
  </ion-card>
<ion-card>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong> MATTHEW 24 IN REAL TIME: PLAGUES, LOCUSTS, AND PESTILENCES IN 2020</strong>
        </mat-panel-title>
        <mat-panel-description>
         
        </mat-panel-description>
      </mat-expansion-panel-header>
    <p>Today on TruNews we discuss the Biblical implications of the world being ravaged by a potentially man-made bioweapon, a quarter trillion locust swarm, global economic depression, and a new mini ice age. Rick Wiles, Edward Szall, Doc Burkhart. Airdate 02/11/20</p>
    </mat-expansion-panel>
  </ion-card>
    <ion-card>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>CHINA VIRUS CRISIS: WILL CORONAVIRUS DESTROY COMMUNIST PARTY?</strong>
        </mat-panel-title>
        <mat-panel-description>
         
        </mat-panel-description>
      </mat-expansion-panel-header>
    <p>Today on TruNews we discuss how the coronavirus may break the once unstoppable communist party, as reports of burning bodies leak through the Great Firewall of China. We also address the shocking accusation by exiled Chinese billionaire Miles Guo that the real numbers of infections are approximately 1.5 million, with a total of up to 50,000 dead. Rick Wiles, Edward Szall, Doc Burkhart. Airdate 02/10/20</p>
    </mat-expansion-panel>
  </ion-card>

  <ion-card>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>3 JUDICIARY COMMITTEE DEMS HIT WITH ETHICS COMPLAINTS</strong>
        </mat-panel-title>
        <mat-panel-description>
         
        </mat-panel-description>
      </mat-expansion-panel-header>
    <p>A nonprofit government watchdog group has slapped three of the Democrats responsible for impeaching President Donald Trump with official complaints through the Office of Congressional Ethics.

      Americans for Public Trust filed the complaints Wednesday against:
      
      Rep. Lucy McBath (D-Ga.),
      
      Rep. Madeleine Dean (D-Pa.), and
      
      “The Squad” member Rep. Pramila Jayapal (D-Wash.)
      
      McBath is accused of being the paid national spokeswoman for Everytown for Gun Safety Action Fund while also running for Congress. The gun-grabbing organization was actively campaigning against her opponent in the 2018 general election.
      
      She took a leave of absence from the organization in April of 2018 in order to run for Congress. Shortly after that, the group endorsed her campaign and announced it would heavily support her candidacy. It spend more than $4.2 million in both her primary race and the general election in support of her campaign.  
      </p>
    </mat-expansion-panel>
  </ion-card>
  <ion-card>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>CHINA VIRUS CRISIS: WILL CORONAVIRUS DESTROY COMMUNIST PARTY?</strong>
        </mat-panel-title>
        <mat-panel-description>
         
        </mat-panel-description>
      </mat-expansion-panel-header>
    <p>Today on TruNews we discuss how the coronavirus may break the once unstoppable communist party, as reports of burning bodies leak through the Great Firewall of China. We also address the shocking accusation by exiled Chinese billionaire Miles Guo that the real numbers of infections are approximately 1.5 million, with a total of up to 50,000 dead. Rick Wiles, Edward Szall, Doc Burkhart. Airdate 02/10/20</p>
    </mat-expansion-panel>
  </ion-card>
  <ion-card>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>IMPEACHMENT FALLOUT: PRESIDENT TRUMP RIPS SPEAKER PRAYER BREAKFAST</strong>
        </mat-panel-title>
        <mat-panel-description>
         
        </mat-panel-description>
      </mat-expansion-panel-header>
    <p>Today on TruNews we discuss how the coronavirus may break the once unstoppable communist party, as reports of burning bodies leak through the Great Firewall of China. We also address the shocking accusation by exiled Chinese billionaire Miles Guo that the real numbers of infections are approximately 1.5 million, with a total of up to 50,000 dead. Rick Wiles, Edward Szall, Doc Burkhart. Airdate 02/10/20</p>
    </mat-expansion-panel>
  </ion-card>

  <ion-card>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>NEW ‘SPACE RACE’ LAUNCHED, DESTINATION MOON AND MARS</strong>
        </mat-panel-title>
        <mat-panel-description>
         
        </mat-panel-description>
      </mat-expansion-panel-header>
    <p>A new space race is brewing, but not the kind we saw in the 1960s between the United States and the Soviet Union.

      The U.S., China, Russia, and the European Space Agency have all announced plans for permanent moon bases. Between 1968 and 1972, America launched nine missions to the moon, six of which successfully touched down, allowing 12 men to walk on the lunar surface.
      
      NASA’s next chapter of lunar exploration, called Artemis, has the task of not just going to the Moon, to create a long-term human presence on and around it, but also to prepare for ever-more-complex human missions to Mars. The same Orion spacecraft that will ferry American astronauts to the moon will also be used for future missions to Mars.</p>
    </mat-expansion-panel>
  </ion-card>
  <ion-card>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>IMPEACHMENT FALLOUT: PRESIDENT TRUMP RIPS SPEAKER PRAYER BREAKFAST</strong>
        </mat-panel-title>
        <mat-panel-description>
         
        </mat-panel-description>
      </mat-expansion-panel-header>
    <p>Today on TruNews we discuss how the coronavirus may break the once unstoppable communist party, as reports of burning bodies leak through the Great Firewall of China. We also address the shocking accusation by exiled Chinese billionaire Miles Guo that the real numbers of infections are approximately 1.5 million, with a total of up to 50,000 dead. Rick Wiles, Edward Szall, Doc Burkhart. Airdate 02/10/20</p>
    </mat-expansion-panel>
  </ion-card>
  </div>
  <div *ngIf="val=='Profile'">
    <ion-list *ngIf="userInfo">
      <ion-item-divider>
        <ion-label>
          Basic Details
        </ion-label>
      </ion-item-divider>
      <ion-item><ion-label>Name:</ion-label><ion-label text-wrap>{{mydata.name}}</ion-label></ion-item>
      <ion-item><ion-label>Username:</ion-label><ion-label text-wrap>{{mydata.name}}</ion-label></ion-item>
      <ion-item><ion-label>Given Name:</ion-label><ion-label text-wrap>{{mydata.given_name}}</ion-label></ion-item>
      <ion-item><ion-label>Family Name:</ion-label><ion-label text-wrap>{{mydata.family_name}}</ion-label></ion-item>
      <ion-item><ion-label>Inum:</ion-label><ion-label text-wrap>{{mydata.inum}}</ion-label></ion-item>
      <ion-item><ion-label>Mobile Number:</ion-label><ion-label text-wrap>{{mydata.phone_mobile_number}}</ion-label></ion-item>
      <ion-item><ion-label>Email:</ion-label><ion-label text-wrap>{{mydata.email}}</ion-label></ion-item>
      <ion-item><ion-label>Role:</ion-label><ion-label text-wrap>{{role}}</ion-label></ion-item>
    </ion-list>
    <div>
      <p *ngIf="!userInfo">
          You are not logged in
      </p>
    </div>
  </div>
  <div *ngIf="val=='Inbox'">
    <ion-list *ngIf="userInfo">
      <ion-item-divider>
        <ion-label>
          Messages
        </ion-label>
      </ion-item-divider>
      <ion-item><ion-label>Nothing To Show</ion-label></ion-item>
    </ion-list>
    <div>
      <p *ngIf="!userInfo">
        You are not logged in
      </p>
    </div>
  </div>
</ion-content>
